/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
$light: #f4f4ea;
$dark: #1b2354;
$gradientLight: linear-gradient(to top, $light 0%, rgba($light, 0.45) 100%);

:root{
  // --bgColor: #0C0B12;
  --bgColor: white;
  --textColor: black;
  --accentColor: #E07425;
  color: var(--textColor);
}

body{
  // --bgColor: white
  background-color: var(--bgColor);
  color: var(--textColor);
  --mgBot2: 4rem;
  --mgBot: 2rem;
  --mgBotd2: 1rem;
  --mgLeft: max(32px,5%);

  @include md{
    --mgLeft: 7vw;
  }

  @include lg{
    --mgLeft: 5vw;
  }

}
//
body{
    overflow: auto;
    overscroll-behavior: none;
}
