@import "_mixins";
@import "_variable";

// Base Styles
@import "_normalize";
@import "_base";

@import url("https://p.typekit.net/p.css?s=1&k=wcz3ore&ht=tk&f=25737.25738&a=17679076&app=typekit&e=css");

@font-face {
font-family:"bee";
src:url("https://use.typekit.net/af/e544ed/00000000000000007735a6e5/30/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e544ed/00000000000000007735a6e5/30/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e544ed/00000000000000007735a6e5/30/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:600;
}

@font-face {
font-family:"bee";
src:url("https://use.typekit.net/af/e70e8f/00000000000000007735a6e7/30/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e70e8f/00000000000000007735a6e7/30/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e70e8f/00000000000000007735a6e7/30/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

p,h3,h4,h5,h6{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

p{
  line-height: 140%;
  
  @include md{
    font-size: 2vw;
  }

  @include lg{
    font-size: 1.5vw;
  }
}

h1,h2{
  font-family: bee, sans-serif;
}

.artworkItem{
  @include md{
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-bottom: 4rem;
  }

  @include md{
    padding-bottom: 5vw;
  }
}

.artworkImage{
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  @include md{
    grid-column: 1 / -1;
  }
  .imageContent{
    width: 85%;
    height: 85%;
    object-fit: contain;
    object-position: center;
  }
}

.artworkInfo, .artworkDesc{
  padding: 1rem 0;
  margin: 0 2rem;
  max-width: 85ch;

  @include md{
    padding:0;
    margin: 5vw 5vw;
  }
}

.artworkInfo{

  h3{
    font-weight: 800;

    @include md{
      font-size: 3vw;
    }
  
    @include lg{
      font-size: 2vw;
    }
  }
 
}

.artworkDesc{
  border-top: 2px solid var(--textColor);
  padding-bottom: 2rem;

  @include md{
    border-top: 0;
    padding: 0;
    margin-left: 0;
    padding-left: 2rem;
    border-left: 2px solid var(--textColor);
  }
}

.infoSection{
  padding: 2rem 2rem;
  @include md{
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 5vw 5vw 10vw;
  }
  .infoTitle{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--textColor);

    @include md{
      padding: 0;
      margin: 0;
      padding-right: 2rem;
      border-bottom: 0;
      border-right: 2px solid var(--textColor)
    }
    h2{
      font-size: 35vw;
      line-height: 0.8;
      text-transform: uppercase;

      @include md{
        font-size: 14vw;
      }
    }
  }

  .infoDesc{
    p{
      line-height: 140%;
      font-size: 1.2rem;
      
      @include md{
        font-size: 2.5vw;
      }
    
      @include lg{
        font-size: 2vw;
      }
    }
    @include md{
      padding-left: 2rem;
    }
  }
}

.heroSection{
  padding: 2rem 2rem 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include md{
    padding: 5vw 5vw 0;
  }
  h1{
    font-size: 58vw;
    text-transform: uppercase;
    line-height: 0.75;
    position: relative;
    width: 100%;
    padding-bottom: 0.05em;

    @include md{
      font-size: 40vw;
    }

    &::after{
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.04em;
      background-color: var(--textColor);

    }


  }

  .heroInfo{
    padding-bottom: 2rem;
    padding-top: 4rem;
    >div{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid var(--textColor);
    }

    p{
      line-height: 140%;
      font-size: 1.2rem;
      
      @include md{
        font-size: 2.25vw;
      }
    
      @include lg{
        font-size: 1.6vw;
      }
    }
  }
}
