@import "_mixins";
@import "_variable";

// Base Styles
@import "_normalize";
@import "_base";

@import url("https://p.typekit.net/p.css?s=1&k=wcz3ore&ht=tk&f=25737.25738&a=17679076&app=typekit&e=css");

@font-face {
font-family:"bee";
src:url("https://use.typekit.net/af/e544ed/00000000000000007735a6e5/30/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e544ed/00000000000000007735a6e5/30/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e544ed/00000000000000007735a6e5/30/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:600;
}

@font-face {
font-family:"bee";
src:url("https://use.typekit.net/af/e70e8f/00000000000000007735a6e7/30/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e70e8f/00000000000000007735a6e7/30/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e70e8f/00000000000000007735a6e7/30/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,h2,h3,h4,h5{
  font-family: 'Krona One', sans-serif;
}

// img{
//   background-color: black;
// }
