/* =============
    Footer
============= */



footer{
    background-color: $dark;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    color: $light;
    
    p{
        font-weight: 300;
        font-size: 1rem;
    }

    a{
        color: $red;
    }
}