/* =============
    Header
============= */

.tl-wrapper{
    height: 100%;
}

.nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 3.75rem;
    width: 100vw;
    z-index: 100;
    box-sizing: content-box;
    background-color: $light;
    border-bottom: 3px solid $dark;

    .navBar{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .navLogo{
        height: 100%;
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
    }

    .navButton{
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include lg{
            display: none;
        }

        >svg{
            width: 100%;
            height: 100%;
        }
    }

    .navButton.displayNone{
        display: none;
    }

    .navMenu{
        display: none;

        @include lg{
            display: block;
            margin: 1rem;
        }
    }

    .navMenuItem{
        margin-left: 2rem;
    }
}

.navShare{
    display: flex;
    height: 100%;
    align-items: center;
    border-left: 2px solid $dark;
    transition: 0.25s;

    .navShareList{
        // max-width: 0;
        overflow: hidden;
        transition: 0.25s;
        width: 8rem;

        @include md{
            width: 10rem;
        }

        >button{
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.75rem;
            color: $dark;

            @include md{
                width: 1.25rem;
                height: 1.25rem;
                margin-right: 1rem;
            }

            svg{
                width: 100%;
                height: 100%;
                transition: fill 0.25s;
            }

            &:hover, &:active{
                color: $red;

                svg{
                    fill: $red;
                }
            }
        }

    }

    >p{
        padding: 0.75rem;
        @include md{
            padding: 1rem;
        }
    }

}




.tl-edges{
    overflow-x:visible;
}



