/* =============
    Header
============= */

.tl-wrapper{
    height: 100%;
}

.nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 3.75rem;
    width: 100vw;
    z-index: 100;
    box-sizing: content-box;
    --mg: 1rem;
    z-index: 99;

    &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $light;
        border-bottom: 2px solid $dark;
        z-index: 0;
        transition: transform 0.25s;
    }
    // background-color: $light;
    // border-bottom: 3px solid $dark;

    .navBar{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        position: relative;
    }

    .navLogo{
        height: 100%;
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 var(--mg);

        @include lg{
            width: 3rem;
        }

        >svg{
            height: 90%;
            width: 100%;
        }
    }

    .navButton{
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include lg{
            display: none;
        }

        >svg{
            width: 100%;
            height: 100%;
        }
    }

    .navButton.displayNone{
        display: none;
    }

    .navMenu{
        display: none;

        @include lg{
            display: block;
            margin: var(--mg);
        }
    }

    .navMenuItem{
        margin-left: 2rem;
    }
}

.navShare{
    display: flex;
    height: 100%;
    align-items: center;
    border-left: 2px solid $dark;
    transition: 0.25s;

    .navShareList{
        // max-width: 0;
        overflow: hidden;
        transition: 0.25s;
        width: 8rem;

        @include md{
            width: 10rem;
        }

        >button{
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.75rem;
            color: $dark;

            @include md{
                width: 1.25rem;
                height: 1.25rem;
                margin-right: 1rem;
            }

            svg{
                width: 100%;
                height: 100%;
                transition: fill 0.25s;
            }

            &:hover, &:active{
                color: $red;

                svg{
                    fill: $red;
                }
            }
        }

    }

    >p{
        padding: 0.75rem;
        @include md{
            padding: 1rem;
        }
    }

}

.nav.splash{
    height: 4rem;

    &::before{
        transform: translateY(-100%);
    }

    @include md{
        height: 6rem;
        
    }
    --mg: calc(var(--margin) / 2);
}



.tl-edges{
    overflow-x:visible;
}

.triggerHome{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    max-height: 170vw;

    @media (max-width: 768px){
        @media (min-aspect-ratio: 5 / 9){
            max-height: none;
            min-height: 165vw;
        }
    }

   

    @include md{
        max-height: 65vw;
        height: 100vh;
        min-height: none;

        @media (min-aspect-ratio: 16 / 9){
            max-height: none;
            min-height: 55vw;
        } 
    }

    >h3{
        font-size: clamp(3rem, 4vw, 5vmax);
        opacity: 0;
        transition: opacity 0.25s;
        color: $dark;
    }
}

.triggerHome.init{
    >h3{
        opacity: 1;
    }
}



