/* =============
    Header
============= */

.tl-wrapper{
    height: 100%;
}

.nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 3.75rem;
    width: 100vw;
    z-index: 100;
    box-sizing: content-box;
    --mg: 1rem;
    z-index: 99;

    &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $light;
        border-bottom: 2px solid $dark;
        z-index: 0;
        transition: transform 0.25s, background 0.25s;
        transition-timing-function: ease-in-out;
    }
    // background-color: $light;
    // border-bottom: 3px solid $dark;

    .navBar{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        position: relative;
    }

    .navLogo{
        height: 100%;
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 var(--mg);
        z-index: 100;
        position: relative;


        @include lg{
            width: 3rem;
        }

        >svg{
            height: 90%;
            width: 100%;
            transition: fill 0.25s;
        }
    }

    .navButton{
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        position: relative;

        @include md{
            display: none;
        }

        >svg{
            width: 90%;
            height: 90%;
            fill: $dark;
            transition: fill 0.25s, transform 0.25s;
        }

        &:hover, &:active{
            >svg{
                transform: scale(1.2);
                fill: $green;
            }
        }

        &:focus{
            border: 0;
            outline: 0;
        }
    }

    .navButton.displayNone{
        display: none;
    }

    .navMenu{
        top: 0;
        z-index: 50;
        transition: transform 0.3s;
    }

    .navMenu.homeMenu{

        @media (max-width: 767px){
            transform: translateY(-120%);
            position: fixed;
            width: 100vw;
            right: 0;
            height: auto;
            background-color: $dark;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 10vh 0;
            margin-top: 3.75rem;
        }
        
    }

    .navMenuItem{
        @media (max-width: 767px){
            margin: 0 2rem;
            padding: 1rem;
            border-bottom: 1px solid $dark;
            font-size: 2.5rem;
            color: $light;
            opacity: 0;
            transition: opacity 0.25s 0.1s;
        }

        margin-right: 2rem;
        
    }
}

.navShare{
    display: flex;
    height: 100%;
    align-items: center;
    border-left: 2px solid $dark;
    transition: 0.25s;

    .navShareList{
        // max-width: 0;
        overflow: hidden;
        transition: 0.25s;
        width: 8rem;

        @include md{
            width: 10rem;
        }

        >button{
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.75rem;
            color: $dark;

            @include md{
                width: 1.25rem;
                height: 1.25rem;
                margin-right: 1rem;
            }

            svg{
                width: 100%;
                height: 100%;
                transition: fill 0.25s;
            }

            &:hover, &:active{
                color: $green;

                svg{
                    fill: $green;
                }
            }
        }

    }

    >p{
        padding: 0.75rem;
        @include md{
            padding: 1rem;
        }
    }

}

.nav.splash{
    height: 4.5rem;

    &::before{
        transform: translateY(-100%);
    }

    @include md{
        height: 6rem;
       
        .navLogo{
            width: 4rem;
            height: 3rem;
            justify-content: flex-start;
        }
    }
    --mg: calc(var(--margin) / 2);
}



.tl-edges{
    overflow-x:visible;
}

.triggerHome{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    max-height: 170vw;

    @media (max-width: 767px){
        @media (min-aspect-ratio: 5 / 9){
            max-height: none;
            min-height: 165vw;
        }
    }

   

    @include md{
        max-height: 65vw;
        height: 100vh;
        min-height: none;

        @media (min-aspect-ratio: 16 / 9){
            max-height: none;
            min-height: 55vw;
        } 
    }

    >h3{
        font-size: clamp(3rem, 4vw, 5vmax);
        opacity: 0;
        transition: opacity 0.25s;
        color: $dark;
    }
}

.triggerHome.init{
    >h3{
        opacity: 1;
    }
}

.nav.mobileOpen{

    @media (max-width: 767px){
        &::before{
            background-color: $dark;
            transform: translateY(0);
        }
        
        .navLogo{
            >svg{
                fill: $light;
            }
        }
    
        .navButton{
            >svg{
                fill: $light;
            }

            &:hover, &:active{
                >svg{
                    transform: scale(1.2);
                    fill: $green;
                }
            }
        }
    }
}

.navMenu.mobileOpen{
    @media (max-width: 767px){
        transform: translateY(0) !important;
        transition-timing-function: ease-in-out;

        .navMenuItem{
            opacity: 1;
        }
    }
}

.bar1,.bar2a,.bar2b,.bar3{
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
    transform-origin: center;
}

.close{
    .bar1, .bar3{
        transform: scaleX(0);
    }
    .bar2a{
        transform: rotate(45deg);
    }

    .bar2b{
        transform: rotate(-45deg);
    }
}

.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: brightness(0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
    -webkit-tap-highlight-color: transparent;

    &:hover, &:active{
        outline: 0;
    }

    @include md{
        display: none;
    }
}

.overlay.expand{
    opacity: 1;
    pointer-events: all;
}

.mobileOnly{
    @include md{
        display: none !important;
    }
}

.desktopOnly{
    display: none !important;

    @include md{
        display: block !important;
    }
}


