@import "../css/helpers/variables";
@import "../css/helpers/mixins";

.item{
    background-color: var(--light);

    &:nth-child(4n + 1){
        >div{
            background: linear-gradient(to top, $red 0%, rgba($red, 0) 100%);
        }
    }

    &:nth-child(4n + 2){
        >div{
            background: linear-gradient(to top, $green 0%, rgba($green, 0) 100%);
        }
    }

    &:nth-child(4n + 3){
        >div{
            background: linear-gradient(to top, $yellow 0%, rgba($yellow, 0) 100%);
        }
    }

    &:nth-child(4n + 4){
        >div{
            background: linear-gradient(to top, $blue 0%, rgba($blue, 0) 100%);
        }
    }
}

.profile{
    width: 100%;
    height: 65vw;
    position: relative;
    padding: 5%;

    @include md{
        height: 30vw;
    }

    @include lg{
        height: 28vw;
    }

    h3{
        position: absolute;
        bottom: 0.5em;
        left: 0;
        text-align:center;
        width: 100%;
    }

    img{
        height: 100%;
        object-fit: contain;
    }
}

.title{
    font-size: 3vw;
    text-align: center;
    padding: 0.5em;
    border-top: 2px solid $dark;
    text-transform: uppercase;

    @include md{
        font-size: 2vw;
    }
}