.item{
    // background-color: red;
    // position: relative;
    --clip: 100%;

    &:hover, &:active{
        --clip: 0%;
    }

    
}

.photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // opacity: 0;
    transition: clip-path 0.25s;
    clip-path: inset(var(--clip) 0% 0% 0%);
    
    

    >div{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}