@import "../css/helpers/variables";
@import "../css/helpers/mixins";

.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    z-index: 2;
    position: relative;

    @include lg{
        grid-template-columns: 1fr 1fr 1fr;
    }


    
}

.item{
    border: 2px solid $dark;
    position: relative;
    box-sizing: border-box;

    >*{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.section{
    padding: var(--margin2) var(--margin);
    position: relative;

}

.title{
    margin-bottom: calc(var(--margin) / 2);
    z-index: 2;
    position: relative;
    padding-right: 20%;
    font-size: 1.2rem;

    @include lg{
        font-size: 2.5vw;
        max-width: 25ch;
        padding-right: 0;
    }
  a{
      color: var(--red);

      &:hover, &:active{
          color: var(--navy);
      }
  }  
}

.deco{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: linear-gradient(to top, $red 0%, rgba($red, 0) 100%);
    z-index: 1;
    svg{
        position: absolute;
        &:nth-child(1){
            top: 24%;
            right: 0;
            width: calc((100% - var(--margin) * 2)/3.5);

            @include lg{
                top: 23%; 
                width: calc((100% - var(--margin) * 2 - 4rem)/3.7);
            }
        }

        &:nth-child(2){
            bottom: 9%;
            left: 0;
            width: calc((100% - var(--margin) * 2)/3);
        }
    }
          
}

.preFooter{
    padding: var(--margin);
    text-align: center;
    border: 2px solid $dark;
    border-width: 3px 0;
    background-color: $light;

    p{
        color: $dark;
        display: flex;
        justify-content: center;
        align-items: center;

        >svg{
            width: 1.5em;
            height: 1.5em;
            margin: 0 0.25em;
            fill: $red;

        }
    }

    >svg{
        margin-top: 1em;
        width: 15rem;
        max-width: 50vw;

    }
}
