/* =============
    Profile
============= */

div[data-rmiz-wrap='visible'],
div[data-rmiz-wrap='hidden'] {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
    }
}

.seniorProfile{
    @include md{
        display: grid;
        width: 100vw;
        grid-template-columns: 20% 80%;
    }
}



.seniorProjects{
    z-index: 4;

    @include md{
        max-width: 80vw;
    }
    >ul{
        width: 100%;
        padding: 4rem 0 0;
        row-gap: 2rem;
        // display: grid;
        // grid-template-columns: 2rem 1fr 2rem;;
    }
}

.moreProjects{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
     font-weight: bold;
     color: $red;
    }
}

.projectSingle{
    margin-bottom: 2rem;

    @include md{
        margin-bottom: 4rem;
    }
    &:last-child{
        margin-bottom: 0;
    }

    
}

.projectInfo{
    
    padding: 0 calc(15%);

    @include md{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
    

    @include md{
        padding: 0 calc(15%);
    }

    h3{
        margin-top: 0.75rem;
    }


    ul{
        display: flex;
        margin-top: 0.5rem;

        @include md{
            margin-top: 0.75rem;
            justify-content: space-between;
        }
        
        li{
            padding-left: 1rem;
            padding-right: 1rem;
            // padding: 0.25em 0.5em;
            // border: 1px solid $dark;
            border-left: 1px solid $dark;
            display: flex;
            align-items: center;

            @include md{
                border-width: 2px;
            }

            &:last-child{
                padding-right: 0;
            }

            &:first-child{
                border-left: 0;
                padding-left: 0;
            }

            p{
                font-size: 0.85rem;
                line-height: 0.75em;
            }
        }
    }

}

.projectOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    backdrop-filter: blur(10px) brightness(0.5);
    transition: 0.25s;
    opacity: 0;
    display: none;

    @include md{
        display: block;
    }
}

.projectOverlay.expand{
    pointer-events: all;
    opacity: 1;
}



.seniorInfo{
    // height: 100%;
    position: relative;
    z-index: 5;
    background-color: $light;
    margin-top: 0;

    @include md{
        height: 100%;
        // height: calc(100% - 3.75rem);
        // margin-top: 3.75rem;
    }
    
    &::after{
        content:'';
        width: 10%;
        height: 100%;
        position: absolute;
        top: 0;
        right: -10%;
        background: $rainbow;
        border-right: 3px solid $dark;
        border-left: 3px solid $dark;
        transform: translateX(0);
        transition: transform 0.25s;
        display: none;

        @include md{
            display: block;
            border-width: 2px;
        }
    }
}

.seniorInfoMain{
    width: 100%;
    position: relative;
}

.seniorBio{
    position: fixed;
    top: 3.75rem;
    left: 0;
    height: calc(100vh - 3.75rem);
    background-color: $light;
    width: 100vw;
    border-width: 0 3px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: clip-path 0.25s, transform 0.25s;
    transform: translateX(100%);
    border: 2px solid $dark;
    border-right: 0;
    border-left: 0;


    @include md{
        border: 3px solid $dark;
        border-right: 2px solid $dark;
        border-top: 0;
        height: calc(100vh - 3.75rem);
        position: fixed;
        clip-path: inset(0 100% 0 0);
        width: calc(80vw - 18rem - 2.5vw + 2px);
        transition: clip-path 0.25s;
        transform: translateX(0);
        left: 20vw;
        border-bottom: 0;
    }

    

    p{
        line-height: 150%;
        padding: 2rem;
        padding-bottom: 4rem;

        @include sm{
            margin-left: 6rem;
            max-height: calc(100vh - 3.75rem);
            overflow: auto;
        }

        @include md{
            padding: 6vw;
            margin-left: 0;
        }
    }

    button{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $light;
        height: 4rem;
        border-bottom: 2px solid $dark;
        display: flex;
        justify-content: center;
        align-items: center;

        @include sm{
            width: auto;
            left: 0;
            height: 100%;
            border-top: 0;
            padding: 1rem;
            border-right: 2px solid $dark;
            position: absolute;
        }

        @include md{
            display: none;
        }
    }
}

.seniorInfo.expand{
    &::after{
        transform: translateX(calc(80vw - 18rem - 2.5vw + 5px));
    }



    .seniorBio{
        transform: translateX(0);
        
        @include md{
            clip-path: inset(0 0 0 0);
        }
    }
}




.stickyInfo{
    background-color: $light;

    @include sm{
        display: grid;
        grid-template-columns: 4fr 5fr;
        border-bottom: 2px solid $dark;
    }

    @include md{
        position: sticky;
        top: 3.75rem;
        margin-right:  0;
        display: block;
        border-bottom: 0;
    }
}

.seniorAvatar{
    width: 100%;
}

.seniorSignature{
    width: 80%;
    margin: 10% 10% 10%;
}



.seniorSocials{
    display: flex;
    width: fit-content;

    li{
        margin-right: 1rem;
    }

    a{
        display: block;
        width: 2rem;
        height: 2rem;
        color: $grey;

        @include md{
            width: 2vw;
            height: 2vw;
        }

        svg{
            width: 100%;
            height: 100%;
        }
    }
}

.solidButton{
    display: flex;
    padding: 1rem;
    background-color: $red;
    border: 2px solid $dark;
    color: $light;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bioButton{
    padding: 0.5em;
    border-bottom: 3px solid currentColor;
    font-size: 1.25rem;
    width: fit-content;
    color: $grey;
    width: 11em;

    &:focus, &:hover{
        outline: 0;
    }

    @include md{
        font-size: 1vw;
    }
}

.seniorInfoDetails{
    border-top: 2px solid $dark;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid $dark;

    @include sm{
        border-bottom: 0;
        border-left: 2px solid $dark;
        justify-content: center;
    }

    @include md{
        border-bottom: 0;
        border-left: 0;
    }

    >*{
        margin-bottom: 2rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
}


.zoomButton{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba($light,0.5);
    border-radius: 100%;
    transition: background 0.25s, opacity 0.25s;
    opacity: 0;




    svg{
        width: 100%;
        height: 100%;
        stroke: $dark;
    }

    &:hover, &:active{
        background-color: rgba($light,1);
    }
}

.zoomableImage{
    button[aria-label="Zoom image"]{

        @include lg{
            pointer-events: none;
        }
    } 

        &:hover, &:active{
            .zoomButton{
                @include lg{
                    opacity: 1;
                }
            }     
        }
 }

 .swiper-button-next, .swiper-button-prev{
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    z-index: 4;
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    // background-color: rgba($light,0.5);
    transition: background 0.25s, opacity 0.25s;
    pointer-events: all;
    opacity: 0;
    filter: invert(1);

    &:hover, &:active{
        background-color: rgba($light,1);
   
    }
 }

 .swiper-button-next{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/%3E%3C/svg%3E");
    right: 3.25%;
 }

 .swiper-button-prev{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z'/%3E%3C/svg%3E");
    left: 3.25%;
}

 .swiper-wrapper{
     position: relative;
     z-index: 2;
 }

 .projectSlider{

    .swiper-slide{
        opacity: 1;
        transition: transform 0.25s, opacity 0.25s;

        @include md{
            opacity: 0;
        }
    }

    .swiper-slide-active{
        opacity: 1;
    }
 }

 .swiper-container{
    padding: 0 15% !important;

    &:hover, &:active{
        .swiper-button-next, .swiper-button-prev{
            opacity: 1;
        } 
     }

     &::before{
        content:'';
        width: 15%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
       background: linear-gradient(to right, rgba($dark, 0.75) 0%, rgba($dark, 0) 100%);
    }

    &::after{
       content:'';
       width: 15%;
       height: 100%;
       position: absolute;
       top: 0;
       right: 0;
       z-index: 3;
      background: linear-gradient(to left, rgba($dark, 0.75) 0%, rgba($dark, 0) 100%);
    }
 }

 .projectSlider{

    .swiper-container{

        &::before{
           background: linear-gradient(to right, rgba($light, 0.75) 0%, rgba($light, 0) 100%);
        }
   
        &::after{
          background: linear-gradient(to left, rgba($light, 0.75) 0%, rgba($light, 0) 100%);
        }
    }

    .swiper-button-next, .swiper-button-prev{
        filter: invert(0);
    }
   

 }

 .activeSlide{
    .swiper-slide{
        opacity: 1;
    }
 }

 .projectSlider.slideLoading{
     opacity: 0;
 }





 .videoProjectImage{
     padding: 39.4% 0 0;
     margin: 0 15%;
     position: relative;

     >div{
         width: 100% !important;
         height: 100% !important;
         position: absolute;
         top: 0;
         left: 0;
     }

     --plyr-color-main: #{$red};
     --plyr-range-fill-background: #{$red};
     --plyr-font-family: 'Roboto Mono', sans-serif;

     .plyr--stopped{
        .plyr__controls{
            transform: translateY(100%);
        }
    }

     button.plyr__control.plyr__control--overlaid[data-plyr='play']{
        background: $dark;
        padding: 2vw;

        >svg{
            min-width: 1.5vw;
            min-height: 1.5vw;
        }

        &:hover, &:active{
            background: $red;
        }

        
     }

 }

 .profileLinkList{
    padding: 4rem 15%;
    border-top: 2px solid $dark;
    overflow: hidden;
    position: relative;

    h3{
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;

        @include md{
            font-size: 4vw;
        }
    }

    >div{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        @include sm{
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        @include md{
            flex-direction: row;
            
        }
    }

    .deco1{
        width: 20vw;
        height: 20vw;
        position: absolute;
        top: -7vw;
        left: -5vw;
        transform: rotate(-40deg)
    }

    .deco2{
        width: 20vw;
        height: 20vw;
        position: absolute;
        bottom: -7.5vw;
        right: -7.5vw;
        transform: rotate(40deg)
    }

    .profileLink{
        text-transform: lowercase;
        font-family: 'Krona One', sans-serif;
        color: $red;
        position: relative;  
        font-size: 1rem;
        margin: 1rem 0;
        width: fit-content;

        @include sm{
            flex-grow: 33%;
        }


        @include md{
            font-size: 1.5vw;
        }

        @include lg{
            font-size: 1.4vw;
        }
        
        &:nth-child(1){
            text-align: left;
        }

        &:nth-child(2){
            color: $grey;
            text-align: center;
        }

        &:nth-child(3){
            text-align: right;
        }

        &::before{
            content:'';
            width: 100%;
            height: 0.15em;
            background-color: currentColor;
            position: absolute;
            bottom: -0.2em;
            left: 0;

        }
    }
 }


 


