/* =============
    Profile
============= */

div[data-rmiz-wrap='visible'],
div[data-rmiz-wrap='hidden'] {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
    }
}

.seniorProfile{
    @include lg{
        display: grid;
        width: 100vw;
        grid-template-columns: 6fr 25fr;
    }
}


.seniorInfo{
    height: 100%;
    position: relative;
    
    &::after{
        content:'';
        width: 10%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: $rainbow;
        border-right: 3px solid $dark;
        border-left: 3px solid $dark;
    }

    .stickyInfo{
        height: fit-content;
        padding: 1.5rem;

        @include lg{
            position: sticky;
            top: 3.75rem;
            margin-right: 2.5rem;
        }
    }
}

.seniorProjects{
    @include lg{
        max-width: 80.6vw;
    }
    >ul{
        width: 100%;
        padding: 4rem;
        row-gap: 2rem;
        // display: grid;
        // grid-template-columns: 2rem 1fr 2rem;;
    }

    .projectSingle{
        margin-bottom: 4rem;
        
    }
}
