/* =============
    Base
============= */
figure,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.25s;
}

.content-grid {
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: 10px auto 10px;
  padding: 10px 0 0;

  > div {
    grid-area: content;

  }
}

*{
  box-sizing: border-box;
}

body{
  --bg-color: white;
  --text-color: black;
  --border-wght: 1.5px;
  color: var(--text-color);
  background: $light;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
}

main, body{
  overscroll-behavior: none;
  overflow: scroll;
  // height: calc(100vh - 3.75rem);
}

html{
  scroll-behavior: smooth;
  overscroll-behavior: none;
  height: 100vh;
}



.main{
  background-color: $light;
  // min-height: 100vh;
}
